{% extends "base.html" %}

{% block title %} Auswahl Prüfung {% endblock  %}

{% block content-header %}Prüfung Auswählen{% endblock  %}

{% block content %}

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <select name="auswahlart">
                    {% for art in arten %}
                        <option value="{{ art.id }}"> {{ art.name }} </option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <select name="auswahlgeraet">
                    {% for geraet in geraete %}
                        <option value="{{ geraet.id }}"> {{ geraet.bezeichnung }}</option>
                    {% endfor %}
                <select>
                <br>
                <br>
                <button class="submit btn btn-success">Auswahl bestätigen</button>
            </form>
        </div>


{% endblock  %}