{% extends "base.html" %}

{% block content-header %}{{ fahrzeug.name }}{% endblock %}

{% block content %}
<div class="card mt-2 p-2">
    <div class="row">
        <!-- Linke Spalte: Fahrzeugdetails -->
        <div class="col-md-6">
            <h5 class="mb-3">Fahrzeugdetails</h5>
            <table class="table table-borderless">
                <tr>
                    <th style="width: 40%;">Fahrzeug:</th>
                    <td>{{ fahrzeug.name }}</td>
                </tr>
                <tr>
                    <th>Funkrufname:</th>
                    <td>{{ fahrzeug.funkrufname }}</td>
                </tr>
            </table>
        </div>    
        <!-- Rechte Spalte: Weitere Details -->
        <div class="col-md-6">
            <h5 class="mb-3">Weitere Details</h5>
            <table class="table table-borderless">
                <tr>
                    <th style="width: 40%;">Hersteller:</th>
                    <td>{{ fahrzeug.hersteller }}</td>
                </tr>
                <tr>
                    <th>Baujahr:</th>
                    <td>{{ fahrzeug.baujahr }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Anzeige der Geräteräume -->
{% if geraeteraume %}
<div class="mt-4">
    <h5>Geräteräume</h5>
    <div class="row">
        {% for geraeteraum in geraeteraume|dictsort:"fach" %}
            <div class="col-md-6">
                <div class="card mb-2">
                    <h5 class="card-header">{{ geraeteraum.fach }}</h5>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for geraet in geraete %}
                                {% if geraet.geraeteraum.id == geraeteraum.id %}
                                    <li class="list-group-item"> <a href="{% url 'geraete:geraete_detail' geraet.id %}">{{ geraet }}</a> </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>

{% else %}
<p class="mt-4">Keine Geräteräume vorhanden.</p>
{% endif %}


{% endblock %}