{% extends "base.html" %}

{% block content-header %}{{ fahrzeug.name }}{% endblock %}

{% block content %}
<div class="card mt-2 p-2">
    <div class="row">
        <!-- Linke Spalte: Fahrzeugdetails -->
        <div class="col-md-6">
            <h5 class="mb-3">Fahrzeugdetails</h5>
            <table class="table table-borderless">
                <tr>
                    <th style="width: 40%;">Fahrzeug:</th>
                    <td>{{ fahrzeug.name }}</td>
                </tr>
                <tr>
                    <th>Funkrufname:</th>
                    <td>{{ fahrzeug.funkrufname }}</td>
                </tr>
            </table>
        </div>    
        <!-- Rechte Spalte: Weitere Details -->
        <div class="col-md-6">
            <h5 class="mb-3">Weitere Details</h5>
            <table class="table table-borderless">
                <tr>
                    <th style="width: 40%;">Hersteller:</th>
                    <td>{{ fahrzeug.hersteller }}</td>
                </tr>
                <tr>
                    <th>Baujahr:</th>
                    <td>{{ fahrzeug.baujahr }}</td>
                </tr>
            </table>
        </div>
    </div>
    {{fahrzeug.id}}
    <form method="GET" action="{% url 'pruefung:fahrzeug_pruefungs_durchfuehren' %}">
        <select name="monat">
            {% for m in monat %}
                <option id="monat" name="monat" value="{{ m.id }}">{{ m }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="fahrzeug" id="{{fahrzeug.id}}" value="{{fahrzeug.id}}" />
        <button class="submit btn btn-success">Prüfung starten</button>
    </form>
<!-- Anzeige der Prüfungen -->
{% if pruefungen %}
<div class="mt-3">
    <h5 class="mb-2">letze Prüfungen</h5>
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead class="table-secondary">
                <tr>
                    <th>Prüfung</th>
                    <th>Nächste Prüfung</th>
                    <th>Letzte Prüfung</th>
                    <th>Monat</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for pruefung in pruefungen %}
                <tr>
                    <td class="pt-2">{{ pruefung.datum }}</td>
                    <td class="pt-2">{{ pruefung.pruefer }}</td>
                    <td class="pt-2">{{ pruefung.befund }}</td>
                    <td class="pt-2">{{ pruefung.monat }}</td>
                    <td class="text-center pt-2">
                        <a href="{% url 'pruefung:fahrzeug_pruefungs_detail' pruefung.fahrzeug.id %}" class="btn btn-success">Details</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Keine Prüfungsstatus vorhanden.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
{% endif %}

<!-- Anzeige der Geräteräume -->
{% if geraeteraume %}
<div class="mt-4">
    <h5>Geräteräume</h5>
    <div class="row">
        {% for geraeteraum in geraeteraume|dictsort:"fach" %}
            <div class="col-md-6">
                <div class="card mb-2">
                    <h5 class="card-header">{{ geraeteraum.fach }}</h5>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for geraet in geraete %}
                                {% if geraet.geraeteraum.id == geraeteraum.id %}
                                    <li class="list-group-item"> <a href="{% url 'geraete:geraete_detail' geraet.id %}">{{ geraet }}</a> </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>

{% else %}
<p class="mt-4">Keine Geräteräume vorhanden.</p>
{% endif %}


{% endblock %}