{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Geräte erstellen {% endblock %}

{% block content-header %}Neues Gerät erstellen{% endblock  %}

{% block content %} 

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Gerät anlegen</button>
                <a href="{% url 'geraete:geraete_liste' %}" class="btn btn-danger">Zurück zur Liste</a>    
            </form>
        
            
        </div>
    
 
{% endblock %}