{% extends 'base.html' %}

{% block title %}Geräte-Übersicht{% endblock %}

{% block content %}
    <h1>Geräteübersicht</h1>

    <a href="{% url 'geraete:geraete_create' %}">Gerät anlegen</a>

    <table class="table table-hover border">
        <thead>
            <tr>
                <th>Bezeichnung</th>
                <th>Identifikation</th>
                <th>Seriennummer</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        {% for geraet in geraete %}
        <tbody>
            <tr>
                <td>{{ geraet.bezeichnung }}</td>
                <td>{{ geraet.identifikation }}</td>
                <td>{{ geraet.seriennummer|default:"-" }}</td>
                <td>{{ geraet.status }}</td>
                <td><a href="{% url 'geraete:geraete_detail' geraet.id %}">Details</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Keine Geräte vorhanden.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
